*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*

#Unfinished posts
/_posts/2018-09-16-fNIRs.md
/_posts/2018-09-08-0template.md
/_posts/2018-09-18-analyzing-neural-time-series-data.md