---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 14px; // 16 change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // 18 change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // 20 change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // 22 change to whatever
  }
}

h1 {
	font-size: 1.25em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: .8em;
}

p {
  font-size: .7em;
}